body {
    font-family: "Calibri", sans-serif;
    margin: 0 auto;
    width: 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: dodgerblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 2px 0px 15px 0px black;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
    
.topbar{
    background-color: dodgerblue;
    width: 100vw;
    height: 50px;
    padding-top: 5px;
    align-content: center;
}
    
.content{
    display: block;
    text-align: center;       
    width: 100vw;
    height: calc(100vh - 100px);
}

.planContainer{ 
    
    overflow-x: scroll;
    overflow-y: scroll;
    display: block;
    padding: 5px;
}
.planImg {
    max-width: calc(100vw - 10px);
    max-height: calc(100vh - 100px);
}

.plan {
    transform-origin: left top;
    transform: scale(1);
    position: relative;    
    display: inline-block;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.floorLabel {
    margin-top: 3px;
}

.floorSlider {
    z-index: 0;
    margin: 10px auto 0 auto;
    width: 80%;
}

.popup {
    overflow: scroll;    
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    z-index: 1;
     box-shadow: 2px 0px 15px -2px black;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 61vh;
    margin-top: -30.5vh;
    margin-left: -40vw;    
}

.entries{
    overflow: hidden;
    padding: 3px;
    margin: 0 auto;
    text-align: left;
    width: 90%;    
    height: 30px;    
    line-height: 30px;
    background-color: white;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 5px;
}

.hour {
    font-weight: bold;
}

.dayS {
    font-weight: bold;
    color: dodgerblue;
}

.dayN {
    font-weight: lighter;
    color: grey;
    opacity: 0.5;
}

.cirlcleDay {
    float: left;
    width: 25px;
    height: 25px;
    font-size: 13pt;
    font-weight: bold;
    line-height:25px;
    margin-right: 5px;
    border-radius: 30px;
    border-color: lightgrey;
    border-width: 2px;
    border-style: solid;
    user-select: none;
}

.cirlcleDay {
    float: left;
    width: 25px;
    height: 25px;
    font-size: 13pt;
    font-weight: bold;
    line-height:25px;
    margin-right: 5px;
    border-radius: 30px;
    border-color: lightgrey;
    border-width: 2px;
    border-style: solid;
    user-select: none;
}
.selectedCircle {
     border-color: dodgerblue;
}

.circleList {
    display: inline-block;
}



#popupAlarmStep1 {    
    padding-top: 10px;
    height: 150px;
}

.button {
    width: 120px;
    height: 31px;
    border-radius: 15px;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-size: 13pt;
    font-weight: bold;
}

.miniAppa {
    width: 40px;
    height: 40px;
}

span {
    
}

.nameAppa {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.miniAppaDiv {
    line-height: 50px;
    float: left;
    margin-left: 15px;
}

.appa {
    overflow: hidden;
    padding: 3px;
    margin: 0 auto;
    text-align: left;
    width: 90%;    
    height: 50px;    
    line-height: 30px;
    background-color: white;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 5px;
}

.appaPlan {
    position: absolute;
    left:0%;
    top: 5%;
    background-image: url("images/appaDistrib.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.entriesEvent {
    overflow: hidden;
    padding: 3px;
    margin: 0 auto;
    text-align: left;
    width: 90%;    
    height: 50px;    
    line-height: 25px;
    background-color: white;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 5px;
}

.quantNourri {
    width: 70px;
    border-radius: 15px;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
}

#popupDistribStep1 {
    height: 175px;
}

.gramme {
    font-weight: bold;
    font-size: 17pt
}

.largerButton {
    width: 180px;
    height: 31px;
    border-radius: 15px;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-size: 13pt;
    font-weight: bold;
}

#popupChoixHeure {
    height: 200px;
}

.bgimg {
    background-image: url("images/blueA.jpg");
    border-radius: 15px;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}


.topleft {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 100%;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
}

hr {
    margin: auto;
    width:40%;
}
@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
    .topleft {
        display: none;
    }
    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%
    }
}

#popupDistribSuccess {
    height: 170px;
}

.plusmoins {
    font-weight: bold;
    font-size:15pt;
}

#decalageHeure {
    font-weight: bold;
    font-size: 15pt;
    width: 80px;
}

#choixHeurestepWithAlarmStep2 {
    height: 10px;
}

.degreeChauffage {
    width: 70px;
    border-radius: 15px;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
}

#valideChauffage {
    font-size: 7pt;
}

#popupChauffageStep2 {
    height: 200px
}

#popUpSuccess {
    height: 150px;
}

.checkVolet {
    margin: 0 auto;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-size: 13pt;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}

.listVolet {
    overflow: scroll;
    height: 200px;
}

#popupVoletStep2 {
    height: 200px;
}
