body {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: dodgerblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 2px 0px 15px 0px black;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
    
.topbar{
    background-color: dodgerblue;
    width: 100%;
    height: 50px;
    padding-left: 15px;
    padding-top: auto 0px 0px 0px ;
    align-content: center;
}
    
.content{    
   padding: 5px;
   text-align: center;
}

.planContainer{ 
    width: 100vw;
    height: calc(100vh - 100px);
}
.planImg {
    max-width: 100vw;
    max-height: calc(100vh - 100px);
}

.plan {
    position: relative;    
    display: inline-block;
}

/*.rec {
    position: absolute;
    width: 1.9%;
    height: 8%;
    top: 57%;
    left: 98%;
    background-color: grey;
}*/

@media screen and (orientation: landscape){
    /*.plan{ transform: rotate(90deg) scale(1.4);}*/
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.floorLabel {
    margin-top: 3px;
}

.floorSlider {
    margin: 10px auto 0 auto;
    width: 80%;
}
